#login {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1em;
  background-color: #2E2E2E;
  border-radius: 5px;
  max-width: 400px;
  padding: 45px 30px;
  margin: 2em 18vw 2em;
  overflow: auto;
  border-radius: 20px;
}

input {
  width: 100%;
  outline: none;
  background-color: #2E2E2E;
  color: white;
  display: inline-block;
  vertical-align: right;
  padding: 12px 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1.5px solid;
  transition: 0.03s;
  margin: 8px 8px;
}

  input[type=text]:focus {
    border-bottom: 1.5px solid white;
  }

div [type=button] {
  width: 70%;
  /* background-color:rgba(102,102,102,1); */
  /*background-color: #cccccc;*/
  /* color: rgba(238,238,238,1); */
  color: #080000;
  padding: 10px 15px;
  margin: 2.5em 4em 0 4em;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}

  div [type=button]:hover {
    background-color: #939995b7;
  }

::placeholder {
  color: #cccccc;
}

.mat-card {
  display: flex;
  background: url("../../assets/setting.jpg");
  padding: 30px;
  background-size: cover;
  color: white;
  font-size: 18px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
