
<mat-card>
  <h3>User Setting</h3>
</mat-card>
<mat-tab-group>
  <mat-tab label="Change Password">
    <div id="login">
      <form [formGroup]="changeform">
        <label for="id">Username</label>
        <input formControlName="LoginID" type="text" id="id" name="ID" placeholder="Please enter your username"><br>

        <label for="pw">Current Password</label>
        <input formControlName="PasswordID" type="password" id="pw" name="Password" placeholder="Enter your current password"><br>

        <label for="pw">New Password</label>
        <input formControlName="NewPassword" type="password" id="pw" name="Password" placeholder="Enter your new password"><br>

        <button type="button" (click)="change()"> Change </button>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Other"> <br> Other Settings ... </mat-tab>
</mat-tab-group>

